.user-module.weekly-vanguard-singe {
  position: relative;
}

.user-module.weekly-vanguard-singe .icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  pointer-events: none;
  opacity: 0.15;
}

.wrapper.dark .user-module.weekly-vanguard-singe .icon {
  opacity: 0.075;
}

.user-module.weekly-vanguard-singe .icon svg {
  fill: #ffffff;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {

  

}