.flair svg {
  fill: #ffffff;
}

.flair.superintendent svg .eye {
  transform-origin: center center;
}

.flair.superintendent.primary svg .olive {
  fill: #ffffff !important;
  opacity: 0.3;
}

.flair.superintendent svg .eye.half {
  opacity: 0;
}

.flair.superintendent.angry svg .eye.full {
  opacity: 0;
}

.flair.superintendent.angry svg .eye.half {
  opacity: 1;
}

.flair.superintendent.angry svg .eye.half.left {
  transform: rotate(30deg) translate(3%, 10%);
}

.flair.superintendent.angry svg .eye.half.right {
  transform: rotate(-30deg) translate(-3%, 10%);
}

.flair.superintendent.depressed svg .eye.full {
  opacity: 0;
}

.flair.superintendent.depressed svg .eye.half {
  opacity: 1;
}

.flair.superintendent.confused svg .eye.full.right {
  opacity: 0;
}

.flair.superintendent.confused svg .eye.half.right {
  opacity: 1;
}

.flair.superintendent.static-loop svg .eye.full.right {
  opacity: 0;
  animation: superintendent-static-loop-2 10s linear 0s infinite;
}

.flair.superintendent.static-loop svg .eye.half.right {
  opacity: 1;
  animation: superintendent-static-loop-1 10s linear 0s infinite;
}

@keyframes superintendent-static-loop-1 {
  0%, 20% {
    opacity: 1;
  }
  21%, 100% {
    opacity: 0;
  }
}

@keyframes superintendent-static-loop-2 {
  0%, 20% {
    opacity: 0;
  }
  21%, 100% {
    opacity: 1;
  }
}

.flair.veteran svg .perimeter {
  transform-origin: center center;
  animation: veteran-loop-1 10s linear 0s infinite;
}

@keyframes veteran-loop-1 {
  0%, 20% {
    transform: scale(1);
  }
  21%, 40% {
    transform: scale(0.9);
  }
  41%, 60% {
    transform: scale(1) rotate(360deg);
  }
  61%, 80% {
    transform: scale(1.1);
  }
  81%, 100% {
    transform: scale(1);
  }
}




.stamps {
  display: grid;
  grid-template-columns: repeat(auto-fill, 38px);
  gap: 3px;
}

.stamps .icon {
  width: 38px;
  height: 38px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.stamps .icon::before {
  font-size: 18px;
}

.stamps .icon.destiny-platform_xbox {
  background-color: #4CAF50;
}

.stamps .icon.destiny-platform_playstation {
  background-color: #3F51B5;
}

.stamps .icon.destiny-platform_steam {
  background-color: #165b83;
}

.stamps .icon.destiny-platform_battlenet {
  background-color: #009ae4;
}

.stamps .icon.destiny-platform_stadia {
  background-color: #da2b48;
}

.stamps div svg {
  pointer-events: none;
  width: 18px;
  height: auto;
}

.stamps .icon.patron {
  background-color: hsl(213, 100%, 63%);
}

.stamps .icon.veteran {
  background-color: hsl(21, 100%, 50%);
}

.stamps .icon.veteran svg {
  transform: scale(1.2);
}

.stamps .icon.veteran svg g {
  opacity: 1 !important;
}

.stamps .icon.superintendent {
  background-color: hsl(255, 4%, 10%);
}