#test {
  padding: 3rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 440px auto;
}

#test #tooltip {
  width: 100%;
  position: relative;
  pointer-events: unset;
  z-index: 1;
  box-shadow: unset;
}

#test #tooltip .acrylic {
  display: none;
}

#test .list.collection-items {
  align-content: start;
}

/* #test .list.collection-items li.red {
  background-color: rgba(255, 255, 255, 0.1) !important;
} */


