#tooltip .frame.map .header {
  display: grid;
  grid-template-columns: 96px auto;
  background-color: transparent;
  color: #fff;
  padding: 0;
  border-top: 2px solid #a3a3a3;
}

#tooltip .frame.map .header .icon {
  background-color: hsla(202, 0%, 15%, 0.8);
  display: grid;
  justify-items: center;
  align-items: center;
}

#tooltip .frame.map .header .icon svg {
  width: 56px;
  height: 56px;
  fill: #ffffff;
}

#tooltip .frame.map .header .text {
  background-color: hsla(202, 0%, 25%, 0.8);
  display: grid;
  align-content: center;
  padding: 20px 16px 26px;
}

#tooltip .frame.map .header .text .kind {
  color: rgba(255, 255, 255, 0.4);
}

#tooltip .frame.map .within {
  padding: 12px 16px;
  font-size: 14px;
  background-color: hsla(47, 90%, 83%, 0.4);
}

#tooltip .frame.map .completed {
  padding: 7px 16px 6px;
  font-size: 14px;
  line-height: 1.4;
  background-color: rgba(90, 163, 102, 0.8);
}

#tooltip .frame.map .description pre,
#tooltip .frame.map .description .text {
  font-style: normal;
  font-size: 14px;
  letter-spacing: unset;
}

#tooltip .frame.map.record.lore .book {
  display: grid;
  grid-template-columns: 96px auto;
  background-color: rgba(255, 255, 255, 0.3);
}

#tooltip .frame.map.record.lore .book .cover {
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  width: 96px;
  padding: 16px 16px 16px 18px;
}

#tooltip .frame.map.record.lore .book .cover .image {
  background-size: cover;
  position: relative;
  height: unset;
  padding-bottom: 126%;
}

#tooltip .frame.map.record.lore .book .text {
  display: grid;
  align-content: start;
  padding: 20px 16px 26px;
}

#tooltip .frame.map.record.lore .book .text .name {
  font-size: 20px;
  word-break: break-word;
}

#tooltip .frame.map.record.lore .book .text .kind {
  color: rgba(255, 255, 255, 0.4);
  margin: 6px 0 0;
}

#tooltip .frame.map.patrol-boss .header .icon {
  
}

#tooltip .frame.map .availability {
  padding: 0 16px;
  font-size: 14px;
  color: #e5d163;
}



@media screen and (max-width: 600px) {
  
}