#error-boundary {
  padding: 4rem 3rem 3rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

#error-boundary .properties {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

#error-boundary .properties .name {
  font-size: 38px;
  font-weight: 600;
  margin: 0 0 7px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 7px;
  margin-bottom: 1rem;
}

#error-boundary .properties .agent {
  margin: 0 0 1rem;
}

#error-boundary .properties .description {
  max-width: 690px;
  color: rgba(255, 255, 255, 0.8);
  white-space: pre-wrap;
}

#error-boundary .properties .stack {
  font-family: monospace;
  font-size: 12px;
  line-height: 1.6;
  padding: 10px;
  margin: 1rem 0 0;
  background-color: rgb(220, 81, 59);
}

#error-boundary .properties .stack pre {
  white-space: pre-wrap;
}

#error-boundary .properties .next {
  max-width: 690px;
  margin: 2rem 0 1rem;
}

#error-boundary .properties .actions {
  display: grid;
  gap: 3px;
}

@media screen and (max-width: 600px) {

  #error-boundary {
    padding: 3rem 2rem 2rem;
  }
  
  #error-boundary .properties {
    font-size: 14px;
  }

  #error-boundary .properties .name {
    font-size: 24px;
  }

  #error-boundary .properties .stack {
    font-size: 10px;
  }

}