#error-boundary {
  padding: 4rem 3rem 3rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

#error-boundary .properties {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

#error-boundary .properties .name {
  font-size: 38px;
  font-weight: 600;
  margin: 0 0 7px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 7px;
  margin-bottom: 1rem;
}

#error-boundary .properties .description {
  color: rgba(255, 255, 255, 0.8);
  white-space: pre-wrap;
}

#error-boundary .properties .next {
  margin: 2rem 0 1rem;
}

#error-boundary .properties .actions {
  display: grid;
  gap: 3px;
}

@media screen and (max-width: 600px) {

  #error-boundary {
    padding: 3rem 2rem 2rem;
  }
  
  #error-boundary .properties {
    font-size: 14px;
  }

  #error-boundary .properties .name {
    font-size: 24px;
  }

}