.user-module.flashpoint {
  position: relative;
}

.user-module.flashpoint .icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  pointer-events: none;
  opacity: 0.5;
}

.wrapper.dark .user-module.flashpoint .icon {
  opacity: 0.2;
}

.user-module.flashpoint .icon svg {
  height: 100%;
  width: 100%;
}

.user-module.flashpoint .text {
  position: relative;
}

.user-module.flashpoint .objective {
  margin: 0 0 12px;
  display: grid;
  grid-template-columns: auto max-content;
  gap: 1rem;
  align-items: center;
  font-size: 16px;
  font-family: var(--font-text);
}

.user-module.flashpoint .objective .progress-bar {
  margin: 0;
  height: 3px;
  --progress: rgba(255, 255, 255, 0.8);
}

.user-module.flashpoint .objective .progress-bar .bar {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-module.flashpoint .objective .progress-bar .bar .text {
  display: none;
}

@media screen and (max-width: 600px) {

  .user-module.flashpoint .icon {
    height: 100%;
  }

}