.map-omega .control.inspector {
  position: absolute;
  top: calc(3rem + 40px);
  right: 3rem;
  width: calc(100% - 310px - 9rem);
  max-height: calc(100vh - (3rem + 40px) - 3rem);
  max-width: 720px;
  z-index: 2;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

.map-omega .control.inspector::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.2);
}

.map-omega .control.inspector .wrapper {
  max-height: calc(100vh - (3rem + 40px) - 3rem);
  overflow-x: hidden;
  overflow-y: scroll;
}

.map-omega .control.inspector .close .button {
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  z-index: 2;
  padding: 0;
  justify-content: center;
  backdrop-filter: blur(10px) brightness(1.2) saturate(1.2);
}

.map-omega .control.inspector .screenshot {
  position: relative;
  padding-bottom: 56%;
  background-color: rgba(255, 255, 255, 0.15);
}

.map-omega .control.inspector .screenshot .image {
  background-size: cover;
}

.map-omega .control.inspector .screenshot .highlight {
  position: absolute;
  width: 15%;
  height: 26.787%;
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: none;
}

.map-omega .control.inspector .screenshot .highlight svg {
  overflow: visible;
}

.map-omega .control.inspector .screenshot .highlight circle {
  transform-origin: center center;
  animation: maps-rotate-linear 20s linear infinite;
}

.map-omega .control.inspector .screenshot .highlight circle:first-child {
  animation: maps-screenshot-highlight 2s linear infinite reverse;
}

@keyframes maps-screenshot-highlight {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
  50% {
    transform: scale(2) rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: scale(0) rotate(360deg);
    opacity: 0;
  }
}

.map-omega .control.inspector .screenshot .info {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.map-omega .control.inspector .description ul,
.map-omega .control.inspector .description ol {
  list-style-type: disc;
  padding: 0 0 0 2rem;  
  margin: 0 0 1rem;
}

.map-omega .control.inspector .description ol {
  list-style-type: none;
}

.map-omega .control.inspector .description ul li,
.map-omega .control.inspector .description ol li {
  line-height: 1.6;
  margin: 0 0 6px;
}

.map-omega .control.inspector .description ol {
  counter-reset: list;
}

.map-omega .control.inspector .description ol li {
  position: relative;
  padding: 0 0 0 1rem;
}

.map-omega .control.inspector .description ol li::before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: -18px;
}

.map-omega .control.inspector .header {
  position: relative;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.map-omega .control.inspector .header .icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  height: 192px;
  transform: translateY(-50%);
  z-index: -1;
  --fill-color: white;
  opacity: 0.1;
}

.map-omega .control.inspector .header .icon svg {
  height: 100%;
  width: auto;
}

.map-omega .control.inspector .header .name {
  font-size: 24px;
  line-height: 32px;
}

.map-omega .control.inspector .header .type {
  margin: 10px 0 6px;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-text);
  font-size: 12px;
  text-transform: uppercase;
}

.map-omega .control.inspector .header .description {
  position: relative;
  margin: 10px 0 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.map-omega .control.inspector .within {
  padding: 12px 2rem;
  line-height: 1.4;
  font-size: 14px;
  background-color: hsla(47, 90%, 83%, 0.4);
}

.map-omega .control.inspector .destination {
  padding: 12px 2rem;
  line-height: 1.4;
  font-size: 14px;
  color: #f5eac4;
  background-color: hsla(47, 90%, 83%, 0.2);
}

.map-omega .control.inspector .video {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  padding: 12px 2rem;
  background-color: rgba(139, 242, 255, 0.2);
}

.map-omega .control.inspector .video > .text {
  line-height: 1.4;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.map-omega .control.inspector .buff {
  padding: 2rem;
}

.map-omega .control.inspector .description.instructions {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.map-omega .control.inspector .highlight.major {
  padding: 7px 2rem 6px;
  font-size: 14px;
  line-height: 1.4;
  background-color: hsla(5, 61%, 41%, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

.map-omega .control.inspector .state {
  padding: 7px 2rem 6px;
  font-size: 14px;
  line-height: 1.4;
  background-color: rgba(90, 163, 102, 0.8);
}

.map-omega .control.inspector .list.record-items {
  grid-template-columns: 1fr;
}

.map-omega .control.inspector .list.inventory-items {
  grid-template-columns: repeat(auto-fill, 64px);
}

.map-omega .control.inspector.vendor .buff .waiting {
  display: grid;
  justify-content: center;
}

.map-omega .control.inspector.vendor .buff .info {
  text-align: center;
}

