#index {
  padding: 0;
  margin: -40px 0 0;
  max-width: unset;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  font-size: 16px;
}

#index h3 {
  font-size: 24px;
  text-transform: unset;
  font-weight: 400;
  margin: 0 0 1rem;
}

#index .row > .wrapper {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  max-width: 1920px;
  margin: 0 auto;
}

#index .row.header {
  background-color: rgba(255, 255, 255, 0.1);
}

#index .row.header .wrapper {
  padding: calc(3rem + 40px) 3rem 3rem;
  min-height: 80vh;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

#index .row.header .large-text {
  display: grid;
  align-content: center;
  gap: 1rem;
}

#index .row.header .large-text .name {
  position: relative;
  font-size: 72px;
  font-weight: 500;
  margin: 0 0 0 -2px;
}

#index .row.header .large-text .name::before {
  content: '\e96b';
  font-family: 'Braytech' !important;
  position: absolute;
  top: -70px;
  left: 150px;
  font-size: 256px;
  color: #fff;
  opacity: 0.2;
  pointer-events: none;
}

#index .row.header .large-text .description {
  font-size: 24px;
  line-height: 1.4;
  max-width: 660px;
}

#index .row.header .large-text .button {
  margin: 2rem 0 0;
}

#index .row.header .views {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  align-content: center;
}

#index .row.header .views .v {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 2rem;
}

#index .row.header .views .v .icon {
  pointer-events: none;
}

#index .row.header .views .v .icon svg {
  width: 100%;
  height: auto;
  fill: #ffffff;
}

#index .row.header .views .v .text {
  font-size: 14px;
  max-width: 300px;
}

#index .row.header .views .v .text .name {
  margin: 0 0 3px;
}

#index .row.header .views .v .text .description {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
}

#index .row.about > .wrapper,
#index .row.development > .wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}

#index .row .module.stats ul {
  margin: 2rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

#index .row .module.stats ul li .value {
  font-size: 48px;
  line-height: 36px;
}

#index .row .module.stats ul li .name {
  margin: 14px 0 0;
  color: rgba(255, 255, 255, 0.6);
}

#index .row .module.stats ul li .description {
  margin: 18px 0 0;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.4);
  max-width: 320px;
}

#index .row.patreon {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
}

#index .row.patreon > .wrapper {
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
}

#index .row.patreon .module .description ~ .button {
  margin: 2rem 0 0;
}

#index .row.patreon .device {
  position: absolute;
  top: calc(-10% - 15px);
  left: 20%;
  height: 120%;
  pointer-events: none;
}

#index .row.patreon .device svg {
  fill: #ffffff;
  opacity: 0.1;
  width: auto;
  height: 100%;
}

#index .row.patreon .device svg circle {
  fill: #ffffff;
}

#index .row.patreon .module.tags {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: start;
  gap: 3px;
  grid-column: 2/4;
}

#index .row.patreon .module.tags .member-link {
  max-width: unset;
}

#index .row.development {
  background-color: rgba(255, 255, 255, 0.1);
}

#index .row.development .module {
  min-height: 300px;
}

#index .row.development .header {
  display: grid;
  grid-template-columns: auto min-content;
  column-gap: 2rem;
  margin: 0 0 1rem;
}

#index .row.development .header .text {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 6px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
}

#index .row.development .header .text .summary p:first-child::before {
  content: '//  ';
  white-space: pre-wrap;
}

#index .row.development .header .text .summary p {
  line-height: 1.4;
}

#index .row.development .header .text h3 {
  grid-column: span 2;
  color: rgba(255, 255, 255, 0.8);
}

#index .row.development .header .buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 3px
}

#index .row.development .header .buttons .button {
  width: 38px;
  display: grid;
  justify-content: center;
}

#index .row.development .changes .content p {
  max-width: 600px;
}

#index .row.development .changes .content p:last-child {
  margin: 0;
}

#index .row.development .changes .content p a::before {
  content: ' ';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0.2;
}

#index .row.development .changes .content code {
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: rgba(255, 255, 255, 0.1);
}

#index .row.development .changes .content h2 {
  margin: 0 0 14px;
  color: rgba(255, 255, 255, 0.6);
}

#index .row.development .changes .content h2:not(:first-child) {
  margin: 20px 0 14px;
}

#index .row.development .changes .content ul {
  list-style-type: disc;
  padding: 0 0 0 2rem;
  margin: 0 0 1rem;
}

#index .row.development .changes .content ul:last-child {
  margin: 0;
}

#index .row.development .changes .content ul li {
  line-height: 1.6;
  margin: 0 0 6px;
  max-width: 600px;
}

#index .row.development .changes .content ul li:last-child {
  margin: 0;
}

#index .row.development .blog {
  grid-column: span 2;
  min-height: 200px;
}

#index .row.development .blog.loading {
  display: grid;
  align-content: center;
  justify-content: center;
}

#index .row.development .blog .header {
  display: grid;
  grid-template-columns: auto min-content;
}

#index .row.development .blog .post {
  display: grid;
  gap: 2rem;
}

#index .row.development .blog .post .block.files {
  display: grid;
  gap: 2rem;
}

#index .row.development .blog .post .block.files .file {
  background-color: rgba(255, 255, 255, 0.1);
}

#index .row.development .blog .post .block.text p {
  max-width: 1024px;
  line-height: 1.6;
}

#index .row.development .blog .posts {
  
}

#index .row.development .blog .posts li {
  
}

#index .row.development .blog .posts li time,
#index .row.development .blog .posts li .summary {
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
}

#index .row.development .blog .posts li time {
  display: block;
}

#index .row.development .blog .posts li h4 {
  display: inline-block;
  position: relative;
  margin: 4px 0 8px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  cursor: pointer;
}

#index .row.development .blog .posts li h4::before {
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}

#index .row.development .blog .posts li h4:hover::before {
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
}




@media screen and (max-width: 1400px) {
  #index .row.header > .wrapper {
    grid-template-columns: 1fr 2fr;
  }

  #index .row.header .large-text .name {
    font-size: 48px;
    margin: 0;
  }
  
  #index .row.header .large-text .name::before {
    top: -26px;
    left: 130px;
    font-size: 128px;
  }
  
  #index .row.header .large-text .description {
    font-size: 18px;
  }

  #index .row.about > .wrapper,
  #index .row.development > .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  #index .row.development .blog {
    grid-column: unset;
  }

  #index .row.patreon > .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  #index .row.patreon .module.stats ul {
    grid-template-columns: 1fr;
  }

  #index .row.patreon .module.tags {
    grid-template-columns: repeat(3, 1fr);
    grid-column: unset;
  }
}

@media screen and (max-width: 1280px) {
  #index .row.header > .wrapper {
    grid-template-columns: 1fr 2fr;
    min-height: unset;
  }

  #index .row.header .views {
    row-gap: 1rem;
  }

  #index .row.patreon .module.tags {
    grid-template-columns: repeat(2, 1fr);
    grid-column: unset;
  }
}

@media screen and (max-width: 1024px) {
  #index .row > .wrapper {
    padding: 3rem;
    gap: 3rem;
  }

  #index .row.patreon .module.stats ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  #index .row.about > .wrapper,
  #index .row.patreon > .wrapper,
  #index .row.development > .wrapper {
    grid-template-columns: 1fr;
  }

  #index .row.patreon .module.tags,
  #index .row .module.stats ul {
    grid-template-columns: 1fr 1fr;
  }

  #index .row.development .changes .content {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  #index .row.header > .wrapper {
    grid-template-columns: 1fr;
  }

  #index .row.header .large-text .button {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  #index {
    font-size: 14px;
  }

  #index h3 {
    font-size: 18px;
  }

  #index .row > .wrapper {
    padding: 2rem;
    gap: 2rem;
  }

  #index .row.header .wrapper {
    padding: 7rem 2rem 2rem;
  }

  #index .row.header .views {
    grid-template-columns: 1fr;
  }

  #index .row.header .views .v {
    grid-template-columns: 32px auto;
    gap: 1rem;
  }

  #index .row.patreon .module.tags,
  #index .row .module.stats ul {
    grid-template-columns: 1fr;
  }

  #index .row.patreon .module .description ~ .button {
    margin: 1rem 0 0;
  }

  #index .row.patreon .device {
    height: 40%;
    right: unset;
    left: 4rem;
    top: calc(16rem + 15px);
  }

  #index .row.development .module {
    min-height: unset;
  }

  #index .row.development .changes .header {
    margin: 0;
  }

  #index .row.development .blog .header {
    column-gap: 1rem;
    margin: 0;
  }

  #index .row.development .header .text {
    grid-template-columns: 1fr;
  }

  #index .row.development .header .text h3 {
    grid-column: unset;
  }

  #index .row.development .blog .post {
    gap: 1rem;
  }
}
