.list.record-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  align-content: start;
}

.list.record-items li {
  margin: 0;
  height: initial;
  display: grid;
  align-content: space-between;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
}

.list.record-items li::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.4);
}

.list.record-items li.redacted {
  align-items: flex-start;
}

.list.record-items li .aside {
  margin: 0 1rem 1rem;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.8px;
  color: rgba(255, 255, 255, 0.4);
}

.list.record-items li .properties {
  padding: 1rem;  
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr;
}

.list.record-items li .properties .icon {
  position: relative;
  width: 48px;
  height: 48px;
}

.list.record-items li .properties .text {
  margin: 0 0 0 1rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  column-gap: 10px;
}

.list.record-items li .properties .text .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list.record-items li .properties .text .meta {
  display: flex;
}

.list.record-items li .properties .text .meta div {
  position: relative;
  margin: 0 1rem 0 0;
}

.list.record-items li .properties .text .meta div::after {
  content: '  /  ';
  position: absolute;
  right: -1rem;
  white-space: pre-wrap;
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

.list.record-items li .properties .text .meta > div:last-child {
  margin: 0;
}

.list.record-items li .properties .text .meta > div:last-child::after {
  content: none;
}

.list.record-items li .properties .text .description {
  grid-column: span 2;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  transition: color .25s;
}

.list.record-items li.no-description .properties .text .description {
  display: none;
}

.list.record-items li .objectives {
  padding: 0 1rem 1rem;
}

.list.record-items li .rewards {
  padding: 0 1rem 1rem;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 3;
}

.list.record-items li .collection-items.rewards li {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.4);
}

.list.record-items li .collection-items.rewards li.completed {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

.list.record-items li .collection-items.rewards li .image.dl {
  opacity: 0.4;
}

.list.record-items li .collection-items.rewards li.completed .image.dl {
  opacity: 1;
}

.list.record-items li .collection-items.rewards li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}

.list.record-items li .objectives .progress-bar.intervals > .bar {
  background-color: transparent;
}

.list.record-items li .objectives .progress-bar.intervals .bar .bars {
  display: grid;
  gap: 4px;
  grid-auto-flow: column;
  height: 100%;
  transition: opacity 0.5s;
}

.list.record-items > li.completed {
  background-color: rgba(207, 191, 124, 0.15);
  box-shadow: inset 0 0 0 2px rgba(207, 191, 124, 1);
}

.list.record-items > li.completed .properties .text .description {
  border-top: 1px solid rgba(221, 209, 162, 0.4);
}

.list.record-items > li.completed .progress-bar .check.ed::before {
  background-color: rgba(188, 173, 113, 1);
}

.list.record-items > li.completed .progress-bar .bar {
  background-color: rgba(188, 173, 113, 0);
}

.list.record-items > li.completed .progress-bar > .bar > .fill {
  background-color: rgba(188, 173, 113, 0);
}

.list.record-items li .progress-bar.intervals .bar.completed:not(.unredeemed) .fill {
  background-color: rgba(188, 173, 113, 0.6);
}

.list.record-items li.linked.completed:hover {
  background-color: rgba(188, 173, 113, 0.8);
}

.list.record-items li.unredeemed {
  background-color: rgba(123, 220, 193, 0.2);
  box-shadow: inset 0 0 0 2px #7bdcc1;
}

.list.record-items li.unredeemed .progress-bar .bar {
  background-color: rgba(255, 255, 255, 0);
}

.list.record-items li.unredeemed .progress-bar > .bar > .fill {
  background-color: rgba(123, 220, 193, 0);
}

.list.record-items li .progress-bar .bar.unredeemed .fill {
  background-color: rgba(123, 220, 193, 0.6);
}

.list.record-items li.unredeemed .progress-bar .check.ed::before {
  background-color: #7bdcc1;
}

.list.record-items li .progress-bar .bar,
.list.record-items li.unredeemed .progress-bar .bar,
.list.record-items li.completed .progress-bar .bar,
.list.record-items li.unredeemed .progress-bar.intervals .bar,
.list.record-items li.completed .progress-bar.intervals .bar.completed {
  background-color: rgba(255, 255, 255, 0.05);
}

.wrapper.dark .list.record-items li .progress-bar .check:not(.ed)::before {
  background-color: rgba(255, 255, 255, 0.1);
}

/* .list.record-items li.completed .progress-bar .bars {
  opacity: 0;
} */

.list.record-items li.tracked {
  background-color: rgba(182, 238, 129, 0.15);
  box-shadow: inset 0 0 0 2px #b5fc73;
}

.list.record-items li.linked.tracked:hover {
  background-color: rgba(182, 238, 129, 0.6);
}

.list.record-items li .track {
  position: absolute;
  top: 1px;
  right: 25%;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s;
  z-index: 5;
}

.list.record-items li .track svg {
  width: 100%;
  height: auto;
  pointer-events: none;
  overflow: visible;
}

.list.record-items li:hover .track {
  opacity: 1;
}

.list.record-items li.tracked .track {
  opacity: 1;
}

.list.record-items li.tracked .track .grid {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate-linear 3s both infinite linear;
}

.list.record-items li.tracked .track .pulse path {
  transform-origin: center center;
  animation: tracked-pulse 4s linear infinite;
  stroke-width: 10px !important;
}

.list.record-items li.tracked .track .pulse path:last-child {
  animation-delay: 0.3s;
}

@keyframes tracked-pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(7);
    opacity: 0;
  }
}

.list.record-items li.highlight::before {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 400%;
  animation: highlight-wave 2s linear 0s infinite forwards;
}

.list.record-items li.linked.highlight:hover::before {
  background: rgba(255, 255, 255, 0.15) linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 400%;
}

.list.record-items .all-completed {
  grid-column: 1/-1;
}

.list.record-items .all-completed::before {
  box-shadow: none;
}

.list.record-items .all-completed .properties {
  grid-template-columns: 1fr;
  padding: 0;
}

.list.record-items .all-completed .properties .text {
  margin: 0;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.4);
}

.list.record-items .none-tracked {
  grid-column: 1/-1;
  margin: 0 0 1rem;
  padding: 1rem 0 2rem;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.4);
  display: grid;
  justify-items: center;
}

.list.record-items .none-tracked::before {
  box-shadow: none;
}

.list.record-items li.selected {
  background-color: rgba(0, 132, 255, 0.1) !important;
}

@media screen and (max-width: 1440px) {

  .list.record-items {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 1024px) {

  .list.record-items li .track {
    opacity: 1;
  }
  
}

@media screen and (max-width: 600px) {

  .list.record-items {
    grid-template-columns: 1fr;
  }

}