.matches {
  position: relative;
  display: grid;
  align-content: start;
}

.matches.loading,
.matches.info {
  min-height: calc(100vh - 152px - 6rem);
  align-content: center;
  justify-content: center;
  text-align: center;
}

.matches > .spinner {
  align-self: center;
  justify-self: center;
}

.matches > .state {
  position: relative;
  height: 20px;
  margin: 0 0 12px;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 24px;
  align-items: center;
}

.matches > .state .spinner {
  position: absolute;
  right: 0;
}

.matches .pages {
  display: grid;
  grid-template-columns: 200px 200px auto;
  grid-gap: 3px;
  margin: 2rem 0 0;
}

@media screen and (max-width: 600px) {
  .matches .pages {
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0 0;
  }
}