.user-module.trials-of-osiris {
  position: relative;
  margin: 0 0 1rem;
}

.user-module.trials-of-osiris .icon {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  width: 80%;
  pointer-events: none;
  opacity: 0.15;
}

.user-module.trials-of-osiris .icon svg {
  height: 100%;
  width: 100%;
  fill: white;
}

.user-module.trials-of-osiris .history {
  display: grid;
  grid-auto-flow: column;
  column-gap: 4px;
  justify-content: left;
}

.user-module.trials-of-osiris .history:not(:last-child) {
  margin: 0 0 10px;
}

.user-module.trials-of-osiris .history .game {
  position: relative;
  width: 18px;
  height: 18px;
  padding: 3px;
}

.user-module.trials-of-osiris .history .game::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
}

.user-module.trials-of-osiris .history .game div {
  position: relative;
  width: 100%;
  height: 100%;
}

.user-module.trials-of-osiris .history .game.win div {  
  background-color: #dde330;
}

.user-module.trials-of-osiris .history .game.loss div {
  background-color: #c53c32;
}