.user-module.trials-of-osiris {
  position: relative;
}

.user-module.trials-of-osiris > .icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  pointer-events: none;
  opacity: 0.2;
}

.wrapper.dark .user-module.trials-of-osiris > .icon {
  opacity: 0.075;
}

.user-module.trials-of-osiris > .icon svg {
  height: 100%;
  width: 100%;
  fill: white;
}

.user-module.trials-of-osiris .passage {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 10px;
}

.user-module.trials-of-osiris .passage .icon {
  position: relative;
  height: unset;
  padding-bottom: 80%;
}

.user-module.trials-of-osiris .passage .text .name {
  margin: 0 0 4px;
}

.user-module.trials-of-osiris .passage .text .description {
  color: rgba(255, 255, 255, 0.6);
}

.user-module.trials-of-osiris .info {
  padding: 1rem 0 2rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  
}