.user-module.trials-of-osiris {
  position: relative;
}

.user-module.trials-of-osiris > .icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  pointer-events: none;
  opacity: 0.15;
}

.user-module.trials-of-osiris > .icon svg {
  height: 100%;
  width: 100%;
  fill: white;
}

.user-module.trials-of-osiris .history {
  display: grid;
  grid-auto-flow: column;
  column-gap: 4px;
  justify-content: left;
}

.user-module.trials-of-osiris .history:not(:last-child) {
  margin: 0 0 10px;
}

.user-module.trials-of-osiris .history .game {
  position: relative;
  width: 18px;
  height: 18px;
}

.user-module.trials-of-osiris .history .game::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
}

.user-module.trials-of-osiris .history .game div {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  margin: 3px;
}

.user-module.trials-of-osiris .history .game.win div {  
  background-color: #d9df26;
}

.user-module.trials-of-osiris .history .game.loss div {
  background-color: #c53c32;
}

.user-module.trials-of-osiris .passage {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 10px;
}

.user-module.trials-of-osiris .passage .icon {
  position: relative;
  height: unset;
  padding-bottom: 80%;
}

.user-module.trials-of-osiris .passage .text .name {
  margin: 0 0 4px;
}

.user-module.trials-of-osiris .passage .text .description {
  color: rgba(255, 255, 255, 0.6);
}

.user-module.trials-of-osiris .info {
  padding: 2rem 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .user-module.trials-of-osiris > .icon {
    opacity: 0.1;
  }
}