.list.modes li {
  height: unset;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.04);
  user-select: none;
}

.list.modes li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}

.list.modes li .icon {
  background-color: rgba(255, 255, 255, 0.04);
  height: 96px;
  width: 96px;
}

.list.modes li .icon svg .polygon.inner {
  animation: rotate-linear 20s infinite linear;
  transform-origin: center;
}

.list.modes li .icon svg .polygon.inner.ani {
  opacity: 0 !important;
}

/* iron banner icon */
.list.modes li .icon svg .falling-1,
.list.modes li .icon svg .falling-2,
.list.modes li .icon svg .falling-3 {
  transform-origin: center center;
  animation: crucible-modes-falling-leaf 3s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* crimson doubles icon */
.list.modes li .icon svg .petals path {
  opacity: 0;
  transform-origin: center center;
  animation: 10s cubic-bezier(0.39, 0.575, 0.565, 1) 0s crucible-modes-leaf-zoom infinite;
}

.list.modes li .icon svg .petals path:nth-child(1) {
  animation-delay: 0.5s;
}

.list.modes li .icon svg .petals path:nth-child(2) {
  animation-delay: 1s;
}

.list.modes li .icon svg .petals path:nth-child(3) {
  animation-delay: 1.5s;
}

.list.modes li .icon svg .petals path:nth-child(4) {
  animation-delay: 2s;
}

.list.modes li .icon svg .petals path:nth-child(5) {
  animation-delay: 2.5s;
}

.list.modes li .icon svg .petals path:nth-child(6) {
  animation-delay: 3s;
}

.list.modes li .icon svg .petals path:nth-child(7) {
  animation-delay: 3.5s;
}

.list.modes li .icon svg .petals path:nth-child(8) {
  animation-delay: 4s;
}

.list.modes li .icon svg .petals path:nth-child(9) {
  animation-delay: 4.5s;
}

.list.modes li .icon svg .petals path:nth-child(10) {
  animation-delay: 5s;
}

.list.modes li .icon svg .petals path:nth-child(11) {
  animation-delay: 5.5s;
}

.list.modes li .icon svg .petals path:nth-child(12) {
  animation-delay: 6s;
}

.list.modes li .icon svg .petals path:nth-child(13) {
  animation-delay: 6.5s;
}

.list.modes li .icon svg .petals path:nth-child(14) {
  animation-delay: 7s;
}

.list.modes li .icon svg .petals path:nth-child(15) {
  animation-delay: 7.5s;
}

.list.modes li .icon svg .petals path:nth-child(16) {
  animation-delay: 8s;
}

.list.modes li .icon svg .petals path:nth-child(17) {
  animation-delay: 8.5s;
}

.list.modes li .icon svg .petals path:nth-child(18) {
  animation-delay: 9s;
}

.list.modes li .icon svg .petals path:nth-child(19) {
  animation-delay: 9.5s;
}

.list.modes li .icon svg .petals path:nth-child(20) {
  animation-delay: 10s;
}

.list.modes li .icon svg .petals path:nth-child(21) {
  animation-delay: 10.5s;
}

.list.modes li .icon svg .petals path:nth-child(22) {
  animation-delay: 11s;
}

.list.modes li .icon svg .petals path:nth-child(23) {
  animation-delay: 11.5s;
}

.list.modes li .icon svg .petals path:nth-child(24) {
  animation-delay: 12s;
}

.list.modes li .icon svg .petals path:nth-child(25) {
  animation-delay: 12.5s;
}

.list.modes li .icon svg .petals path:nth-child(26) {
  animation-delay: 13s;
}

.list.modes li .icon svg .petals path:nth-child(27) {
  animation-delay: 13.5s;
}

.list.modes li .icon svg .falling-2 {
  animation-delay: 1s;
}

.list.modes li .icon svg .falling-3 {
  animation-delay: 1.5s;
}

.list.modes li .text {
  width: calc(100% - 96px);
  height: 96px;
  padding: 10px 1rem;
  display: grid;
  grid-template-columns: auto 72px;
}

.list.modes li .text .name {
  font-size: 16px;
}

.list.modes li .text .minor-stats {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.list.modes li .text .stat {
  
}

.list.modes li .text .stat .name {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.list.modes li .text .stat .value {
  margin: 7px 0 0;
  font-size: 18px;
  line-height: 1;
}

.list.modes li .text .kdr {
  text-align: right;
  align-self: flex-start;
  grid-column: 2/2;
  grid-row: 1/3;
}

.list.modes li .text .kdr .name {
  font-size: 16px;
}

.list.modes li .text .kdr .value {
  font-size: 32px;
  line-height: 28px;
}

.list.modes li .text .no-stats {
  grid-row: 2/3;
  grid-column: 1/3;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  display: grid;
  justify-content: center;
}

.list.modes li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-color 0.25s, box-shadow 0.25s;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0);
}

.list.modes li a.active::before {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
}

@media screen and (max-width: 600px) {

  .list.modes li .icon {
    height: 72px;
    width: 72px;
  }

  .list.modes li .text {
    width: calc(100% - 66px);
    height: 72px;
    padding: 8px 1rem;
    grid-template-columns: auto 48px;
  }

  .list.modes li .text .name {
    font-size: 14px;
  }

  .list.modes li .text .minor-stats {
    margin: 6px 0 0;
  }

  .list.modes li .text .stat .value {
    margin: 3px 0 0;
    font-size: 14px;
  }

  .list.modes li .text .stat .name {
    font-size: 12px;
  }

  .list.modes li .text .kdr .value {
    margin: 5px 0 0;
    font-size: 18px;
    line-height: 14px;
  }

  .list.modes li .text .no-stats {
    font-size: 12px;
  }

}