.user-module.raid .challenge {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 1rem;
  align-items: flex-start;
}

.user-module.raid .challenge .name {
  margin: 0 0 4px;
}

.user-module.raid .challenge .description {
  color: rgba(255, 255, 255, 0.5);
}