#loading {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 2;
  background-color: #888888;
  font-family: var(--font-text);
  pointer-events: none;
}

.wrapper.dark #loading {
  background-color: #141414;
}

#loading .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0 0% 7% / 1);
  background-color: hsl(0 0% 100% / 1);
  display: grid;
  justify-items: right;
  overflow: hidden;
}

#loading .bg .grad {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  --color-a-0: #ed8b3b;
  --color-a-1: #ed8b3b00;
  --color-b-0: #763786;
  --color-b-1: #76378600;
  --color-c-0: #cc6ace;
  --color-c-1: #cc6ace00;
  background: 
    linear-gradient(217deg, var(--color-a-0), var(--color-a-1) 70.71%), 
    linear-gradient(157deg, var(--color-b-0), var(--color-c-1) 70.71%), 
    linear-gradient(350deg, var(--color-c-0), var(--color-c-1) 70.71%);
}

#loading .bg .containment {
  position: absolute;
  top: 3rem;
  height: calc(100% - 6rem);
}

#loading .bg .containment svg {
  width: auto;
  height: 100%;
  fill: #ffffff;
  opacity: 0.1;
}

#loading .text {
  position: absolute;
  bottom: 7rem;
  left: 0;
  width: 100%;
  font-family: var(--font-text);
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
}

#loading .text .name {
  font-size: 18px;
}

#loading .text .status {
  font-size: 12px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: min-content max-content;
  grid-gap: 1rem;
  align-items: center;
  width: max-content;
}

#loading .text .status.error {
  grid-template-columns: 1fr;
  width: auto;
}

#loading .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

#loading .logo svg {
  width: 7rem;
  height: auto;
  fill: #ffffff;
}

#loading .version {
  position: absolute;
  top: 15rem;
  left: -8rem;
  transform: rotate(270deg);
  display: grid;
  grid-template-columns: auto 2rem;
  gap: 1.5rem;
  justify-items: right;
  align-items: center;
  width: 25rem;
}

#loading .version div {
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#loading .version div span::after {
  content: ' // ';
  font-family: var(--font-display);
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}

#loading .version svg {
  width: 2rem;
  fill: #ffffff;
  transform: rotate(90deg);
}

@media screen and (orientation: portrait) {
}

@media screen and (max-width: 600px) {
  #loading .bg .containment {
    position: absolute;
    top: 2rem;
    height: calc(100% - 4rem);
  }

  #loading .version {
    top: 14rem;
    left: -10rem;
  }
}

#route-loading {
  display: grid;
  min-height: calc(100vh - 82px);
  padding: 3rem;
  justify-content: center;
  align-content: center;
}

#route-loading.full {
  height: 100vh;
}

#route-loading.full.with-nav {
  height: calc(100vh - 40px);
}

@media screen and (max-width: 600px) {
  #route-loading {
    padding: 2rem;
  }
}
