#solstice-of-heroes {
  padding: 0;
  display: grid;
  margin: -40px auto 0;
  width: 100%;
}

#solstice-of-heroes .module.head {
  position: relative;
  padding: calc(4rem + 40px) 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
  background-color: #c0b27e;
  overflow: hidden;
}

#solstice-of-heroes .module.head .icon {
  position: absolute;
  right: 6rem;
  top: 0;
  width: 32%;
  height: 100%;
  display: grid;
  align-items: center;
  opacity: 0.2;
  pointer-events: none;
}

#solstice-of-heroes .module.head .icon svg {
  position: absolute;
  fill: white;
  width: 100%;
  height: auto;
}

#solstice-of-heroes .module.head .page-header {
  margin-bottom: 0rem;
}

#solstice-of-heroes .module.head .text .description {
  margin: 2rem 0 0;
}

#solstice-of-heroes .module.head .text .description p {
  max-width: 700px;
  font-size: 14px;
}

#solstice-of-heroes .module.head .text .description p:first-child {
  font-size: 18px;
}

#solstice-of-heroes .buff {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 3rem;
}

#solstice-of-heroes .module.views > .list {
  position: sticky;
  top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3px;
  width: 60px;
}

#solstice-of-heroes .module.views .list li {
  display: grid;
  margin: 0;
  height: 60px;
}

#solstice-of-heroes .module.views .list li .icon {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#solstice-of-heroes .module.views .list li .icon svg {
  width: 32px;
  height: 32px;
  fill: rgba(255, 255, 255, 0.8);
  pointer-events: none;
}

#solstice-of-heroes .module.views .list li::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.4);
}

#solstice-of-heroes .module.views .list li.linked:hover {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
}

#solstice-of-heroes .module.views .list li a.active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
  color: #fff;
}

#solstice-of-heroes .module.views .list li a:hover {
  color: #fff;
}

#solstice-of-heroes .content {
  display: grid;
  grid-template-columns: auto;
  gap: 3rem;
}

#solstice-of-heroes .sets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

#solstice-of-heroes .sets .inventory-items {
  grid-template-columns: auto;
}

#solstice-of-heroes .sets .set h4 {
  padding: 0 0 6px;
  margin: 0 0 20px;
  border-bottom: 2px solid rgb(255 255 255 / 0.1);
}

#solstice-of-heroes .sets .set > ul,
#solstice-of-heroes .sets .set > ul > li {
  display: grid;
  column-gap: 1rem;
  row-gap: 2rem;
}

#solstice-of-heroes .sets .set > ul > li {
  grid-template-columns: 64px auto;
  align-items: start;
}

#solstice-of-heroes .sets .set ul li .text .name {
  font-size: 16px;
  margin: 0 0 6px;
}

#solstice-of-heroes .sets .set ul li > .text > .description {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
}

#solstice-of-heroes .sets .set ul li .objectives {
  margin: 18px 0 0;
}

#solstice-of-heroes .sets .set ul li .objectives .progress-bar.complete {
  opacity: 0.8;
}

#solstice-of-heroes .sets .set ul li .objectives .progress-bar.complete .bar {
  background-color: rgba(255, 255, 255, 0.05);
}

#solstice-of-heroes .sets .set ul li .objectives .progress-bar.complete .bar .fill {
  background-color: rgba(90, 163, 102, 0);
}

#solstice-of-heroes .content.class-specific {
  grid-template-columns: repeat(3, 1fr);
}

#solstice-of-heroes .content.class-specific .sets {
  grid-template-columns: 1fr;
}










@media screen and (max-width: 600px) {
  #solstice-of-heroes .module.head {
    padding: calc(3rem + 40px) 2rem 2rem;
  }

  #solstice-of-heroes .module.head .icon {
    right: -6rem;
    width: 80%;
  }
  
  #solstice-of-heroes .buff {
    padding: 2rem;
    grid-template-columns: 40px 1fr;
    gap: 2rem;
  }

  #solstice-of-heroes .module.views .list {
    top: 2rem;
    grid-template-columns: 1fr;
    width: 40px;
  }

  #solstice-of-heroes .module.views .list li {
    height: 40px;
  }

  #solstice-of-heroes .module.views .list li .icon svg {
    width: 24px;
    height: 24px;
  }

  #solstice-of-heroes .content {
    gap: 2rem;
  }

  #solstice-of-heroes .content.class-specific,
  #solstice-of-heroes .content.class-specific .sets {
    grid-template-columns: 1fr;
  }

  #solstice-of-heroes .sets {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

}
