.user-module.challenges > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
}

.user-module.challenges > ul > li {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
  align-content: start;
}

.user-module.challenges ul li .activity .text {
  display: grid;
  gap: 6px;
}

.user-module.challenges ul li .activity .text .name {
  font-size: 16px;
}

.user-module.challenges ul li .activity .text .description {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.6);
  max-width: 400px;
}

.user-module.challenges ul li .challenge.completed {
  display: none;
}

.user-module.challenges ul li .challenge .objective {
  background-color: rgba(255, 237, 111, 0.1);
  padding: 12px 1rem 18px;
  border-top: 2px solid rgba(255, 237, 111, 0.2);
}

.user-module.challenges ul li .challenge:first-child .objective {
  border-top: 2px solid rgba(255, 237, 111, 0.4);
}

.user-module.challenges ul li .challenge .objective .text {
  margin: 0 0 10px;
}

.user-module.challenges ul li .challenge .rewards {
  position: relative;
  background-color: rgba(82, 47, 101, 0.2);
  border-top: 2px solid rgba(82, 47, 101, 0.4);
  padding: 10px 1rem;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.user-module.challenges ul li .challenge .rewards.pinnacle::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 200%;
  animation: reward-update-flash 1.7s linear 0s infinite;
  opacity: 0.2;
}

@keyframes reward-update-flash {
  0% {
    background-position-x: 200%;
  }
  66%, 100% {
    background-position-x: -200%;
  }
}

.wrapper.reduced-motion .user-module.challenges ul li .challenge .rewards.pinnacle::before {
  animation-play-state: paused;
}

#now .user-module.challenges .list.activities li {
  grid-template-columns: 1fr;
}

.user-module.challenges .no-challenges {
  padding: 2rem 0;
  text-align: center;
}

.user-module.challenges .state {
  margin: 0 0 2rem;
  position: sticky;
  top: 3rem;
  z-index: 5;
  backdrop-filter: blur(12px);
  display: grid;
  grid-template-columns: 38px auto 38px;
  gap: 16px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 16px;
}

.user-module.challenges .state .rewards {
  position: relative;
  height: 38px;
}

.user-module.challenges .state .rewards .button {
  position: absolute;
  top: 0;
  width: max-content;
}

.user-module.challenges .state .rewards.pinnacle .button {
  background-color: rgba(82, 47, 101, 0.3);
}

.user-module.challenges .state .remaining {
  display: grid;
}

.user-module.challenges .state .remaining .info {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1440px) {
  .user-module.challenges > ul {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .user-module.challenges > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .user-module.challenges > ul {
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .user-module.challenges ul li .activity .text .description {
    font-size: 14px;
  }

  .user-module.challenges .no-challenges {
    padding: 0;
    text-align: unset;
  }

  .user-module.challenges .state {
    top: 2rem;
    margin: 0 0 2rem;
    grid-template-columns: min-content auto;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 16px;
  }
  
  .user-module.challenges .state .rewards .button {
    position: unset;
  }

  .user-module.challenges .state .remaining .info {
    padding: 0 1rem 0 0;
    text-align: right;
  }
  
}