@font-face {
  font-family: 'Braytech';
  src: url('Braytech.woff?3pm01r') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="destiny-"], [class*=" destiny-"] {
  font-family: 'Braytech' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.destiny-ammo_heavy:before {
  content: "\e900";
  color: #b286ff;
}
.destiny-ammo_special:before {
  content: "\e901";
  color: #7af48b;
}
.destiny-ammo_primary:before {
  content: "\e902";
  color: #ffffff;
}
.destiny-arrow_right_hollow:before {
  content: "\e90f";
}
.destiny-power:before {
  content: "\6c";
}
.destiny-platform_stadia:before {
  content: "\e946";
}
.destiny-platform_steam:before {
  content: "\e903";
}
.destiny-platform_battlenet:before {
  content: "\e904";
}
.destiny-platform_pc:before {
  content: "\34";
}
.destiny-platform_playstation:before {
  content: "\32";
}
.destiny-platform_xbox:before {
  content: "\31";
}
.destiny-bungie:before {
  content: "\f133";
}
.destiny-fireteams:before {
  content: "\e939";
}
.destiny-ghost:before {
  content: "\f113";
}
.destiny-bungie_fist:before {
  content: "\e938";
}
.destiny-road_kill:before {
  content: "\f11a";
}
.destiny-well_rested:before {
  content: "\e91e";
}
.destiny-mobility:before {
  content: "\e93b";
}
.destiny-resilience:before {
  content: "\e93c";
}
.destiny-recovery:before {
  content: "\e93d";
}
.destiny-discipline:before {
  content: "\e93e";
}
.destiny-intellect:before {
  content: "\e93f";
}
.destiny-strength:before {
  content: "\e940";
}
.destiny-destiny:before {
  content: "\e90a";
}
.destiny-clovis_bray_device:before {
  content: "\e96b";
}
.destiny-ishtar:before {
  content: "\e90d";
}
.destiny-team_alpha_alt:before {
  content: "\e9f4";
}
.destiny-team_bravo_alt:before {
  content: "\e9f5";
}
.destiny-class_titan:before {
  content: "\e90b";
}
.destiny-class_hunter:before {
  content: "\e90c";
}
.destiny-class_warlock:before {
  content: "\e90e";
}
