#archives.grimoire .content {
  grid-template-columns: 340px auto;
}

.grimoire .card {
  
}

.grimoire .card .name {
  font-size: 32px;
  line-height: 1;
}

.grimoire .card .intro {
  margin: 1rem 0 0;
  font-size: 22px;
  line-height: 1;
}

.grimoire .card .description {
  margin: 2rem 0 0;
}