.map-omega .loading .state {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.4);
}

.map-omega .loading .state span {
  color: rgba(255, 255, 255, 0.8);
}

