.profile-search {
  position: relative;
}

.profile-search .sub-header {
  margin-bottom: 20px;
}

.profile-search .sub-header ~ .sub-header {
  margin: 3rem 0 1rem;
}

.profile-search .form {
  margin: 0 0 1rem;
}

.profile-search .form .field input {
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s;
}

.profile-search .form .field:hover input {
  z-index: 2;
}

.profile-search .results {
  margin: 1rem 0 0;
}

.profile-search .results .list li {
  padding: 0 1rem 0 0;
  cursor: pointer;
}

.profile-search .results .list li.linked:hover {
  z-index: 3;
}

.profile-search .results .list li.linked .icon {
  width: 38px;
  height: 38px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 0;
  font-size: 18px;
  color: #fff;
}

.profile-search .results .list li.linked .icon.destiny-platform_xbox {
  background-color: hsl(122, 39%, 39%);
  color: hsl(122, 39%, 60%);
}

.profile-search .results .list li.linked .icon.destiny-platform_playstation {
  background-color: hsl(231, 48%, 33%);
  color: hsl(231, 48%, 54%);
}

.profile-search .results .list li.linked .icon.destiny-platform_steam {
  background-color: hsl(202, 71%, 22%);
  color: hsl(202, 71%, 40%);
}

.profile-search .results .list li.linked .icon.destiny-platform_battlenet {
  background-color: hsl(199, 100%, 30%);
  color: hsl(199, 100%, 50%);
}

.profile-search .results .list li.linked .icon.destiny-platform_stadia {
  background-color: hsl(350, 70%, 41%);
  color: hsl(350, 70%, 61%);
}