#tooltip {
  position: fixed;
  width: 440px;
  pointer-events: none;
  z-index: 2000;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1;
  user-select: none;
  opacity: 0;
  --black: 7, 7, 7;
  --dark: 0, 0, 0;
  --light: 255, 255, 255;
  --accent: 0, 0, 255;
}

/* .wrapper #tooltip {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6)
}

.wrapper.dark #tooltip {
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.85);
} */

#tooltip.visible {
  opacity: 1;
}

#tooltip .wrapper {
  position: relative;
}

#tooltip .acrylic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(1.5) blur(12px);
}

#tooltip .frame {
  position: relative;
}

#tooltip .header {
  display: grid;
  gap: 4px;
  padding: 12px 16px 10px;
  margin: 0;
  background-color: hsla(var(--tier-common), 0.8);
  color: #fff;
  font-family: var(--font-text);
}

#tooltip .header .name {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
  word-break: break-word;
}

#tooltip .header .kind {
  opacity: 0.6;
}

#tooltip .header .rarity {
  opacity: 0.3;
  text-align: right;
}

#tooltip .header .item-state {
  height: 16px;
}

#tooltip .header .item-state .locked,
#tooltip .header .item-state .spinner {
  display: grid;
  justify-content: center;
  width: 16px;
  height: 16px;
  opacity: 0.8;
}

#tooltip .header .item-state .locked svg {
  height: 16px;
  width: 12px;
}

#tooltip .frame .highlight span {
  text-transform: lowercase;
}

#tooltip .black {
  background-color: rgba(5, 5, 5, 0.85);
}

#tooltip .black .screenshot {
  position: relative;
  height: unset;
  padding-bottom: 56%;
  background-color: rgba(255, 255, 255, 0.05);
}

#tooltip .black .screenshot .image {
  background-size: cover;
}

#tooltip .line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

#tooltip .flair,
#tooltip .source {
  padding: 12px 16px 12px;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: rgba(255, 255, 255, 0.8);
}

#tooltip .source {
  color: rgba(255, 255, 255, 0.6);
}

#tooltip .source p {
  line-height: 1.4;
}

#tooltip .description {
  padding: 12px 16px 12px;
  line-height: 1.6;
  font-size: 14px;
}

#tooltip .description .destination {
  padding: 0 0 10px;
  line-height: 1.4;
  font-size: 16px;
  color: #f5eac4;
}

#tooltip .description .destination:last-child {
  padding: 0;
}

#tooltip .description:last-child .destination:last-child {
  padding: 0;
}

#tooltip .description ul {
  list-style-type: disc;
  padding: 0 0 0 2rem;
}

#tooltip .description ul li {
  line-height: 1.6;
}

#tooltip .quantity {
  padding: 0 16px 16px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

#tooltip .quantity span:not(.max) {
  color: #856621;
}

#tooltip .quantity span.max {
  text-transform: uppercase;
}

#tooltip .expiry {
  padding: 0 16px 16px;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #f2110d;
}

#tooltip .frame.no-name .header {
  padding: 0;
}

#tooltip .frame.no-name .header .name {
  display: none;
}

#tooltip .frame .objectives {
  padding: 0 16px 16px;
}

#tooltip .frame .objectives .progress {
  margin: 0 0 3px;
}

#tooltip .frame .objectives .progress:last-child {
  margin: 0;
}

#tooltip .frame .objectives .progress-bar .bar {
  background-color: rgba(0, 0, 0, 0.2);
}

#tooltip .frame .objectives .progress-bar.complete {
  opacity: 0.8;
}

#tooltip .frame .objectives .progress-bar.complete .bar {
  background-color: rgba(0, 0, 0, 0.1);
}

#tooltip .frame .objectives .progress-bar.complete .bar .fill {
  background-color: rgba(90, 163, 102, 0);
}

#tooltip .frame .objectives > .text {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.4;
  font-size: 14px;
  margin: 0 0 4px 24px;
}

#tooltip .frame .objectives > .text:last-child {
  margin: 0 0 0 24px;
}

#tooltip .frame .recommended-light span {
  position: relative;
  margin: 0 0 0 8px;
}

#tooltip .frame .recommended-light span::before {
  content: 'l';
  position: absolute;
  top: 3px;
  left: -7px;
  font-family: 'Braytech' !important;
  font-size: 6px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

#tooltip .header::before {
  content: attr(data-debugtip);
  position: absolute;
  top: -22px;
  right: 0;
  font-size: 14px;
}






@media screen and (max-width: 600px) {
  #tooltip {
    top: 0;
    left: 0;
    transform: translate(0px, 0px) !important;
    width: 100%;
    height: 100%;
    box-shadow: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    backdrop-filter: brightness(0.6) blur(7px);
  }

  #tooltip.toggle {
    position: fixed;
  }

  #tooltip.visible {
    pointer-events: unset;
  }

  #tooltip .acrylic {
    display: none;
  }

  #tooltip .window {
    margin: 32px;
    position: relative;
  }

  #tooltip .frame {
    position: relative;
    padding: initial;
    width: 100%;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
  }

  #tooltip .frame .recommended-light span::before {
    top: 4px;
  }
}
