#tooltip .frame.ui .header {
  background-color: hsla(0, 0%, 0%, 0.9);
  border-top: 6px solid rgb(204, 204, 204);
  color: #fff;
}

#tooltip .frame.ui .black {
  background-color: rgba(5, 5, 5, 0.85);
}


#tooltip .frame.ui .stats {
  border-top: none;
  border-color: red;
}
