

.list.metric-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7px;
}

.list.metric-items li {
  margin: 0;
  height: unset;
  display: grid;
  grid-template-columns: auto min-content;
  align-content: space-between;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
}

.list.metric-items li::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.4);
}

.list.metric-items li.redacted {
  align-items: flex-start;
}

.list.metric-items li .icon {
  margin: 0 1rem 0 0;
  width: 36px;
  align-self: start;
}

.list.metric-items li .gonfalon {
  position: relative;
  width: 100%;
  padding-bottom: 291.666666%;
}

.list.metric-items li .gonfalon .trait {
  top: unset;
  bottom: 36%;
  left: 0;
  width: 100%;
  height: unset;
  padding-bottom: 100%;
  background-size: 90%;
}

.list.metric-items li .gonfalon .metric {
  top: unset;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: unset;
  padding-bottom: 100%;
  background-size: 152%;
}

.list.metric-items li .gonfalon .banner.complete.dl {
  opacity: 0;
}

.list.metric-items li .gonfalon.complete .banner.complete.dl {
  opacity: 1;
}

.list.metric-items li .metric {
  padding: 1rem;  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.list.metric-items li .metric .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 7px;
}

.list.metric-items li .metric .progress {
  grid-column: span 2;
  font-size: 24px;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.list.metric-items li .metric .description {
  grid-column: span 2;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 0;
  font-style: italic;
  letter-spacing: 0.5px;
}

.list.metric-items li .progress-bar {
  grid-column: span 2;
  height: 7px;
}

.list.metric-items li .progress-bar .bar {
  background-color: rgba(255, 255, 255, 0.1);
}

.list.metric-items li .progress-bar .bar .fill {
  background-color: rgba(255, 255, 255, 0.8);
}

.list.metric-items li.completed {
  background-color: rgba(207, 191, 124, 0.15);
  box-shadow: inset 0 0 0 2px rgba(207, 191, 124, 1);
}

.list.metric-items li.completed .progress-bar {
  display: none;
}

.list.metric-items li.completed .progress-bar .bar {
  background-color: rgba(188, 173, 113, 0);
}

.list.metric-items li.completed .progress-bar .bar .fill {
  background-color: rgba(188, 173, 113, 0);
}

.list.metric-items li .progress-bar .bar.completed .fill {
  background-color: rgba(188, 173, 113, 0.6);
}

.list.metric-items li.linked.completed:hover {
  background-color: rgba(188, 173, 113, 0.8);
}

.list.metric-items li.completed .progress-bar .bars {
  opacity: 0;
}

.list.metric-items li.highlight::before {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 400%;
  animation: highlight-wave 2s linear 0s infinite forwards;
}

.list.metric-items .all-completed {
  grid-column: 1/-1;
}



@media screen and (max-width: 1440px) {

  .list.metric-items {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 1024px) {

  .list.metric-items {
    grid-template-columns: 1fr;
  }
  
}

@media screen and (max-width: 600px) {

  .list.metric-items {
    grid-template-columns: 1fr;
  }

}