.modes {
  gap: 3px;
}

.modes .button.mode {
  max-width: unset;
  height: unset;
  display: grid;
  --icon-size: 96px;
}

.modes .button.mode a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
}

.modes .button.mode a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-color 0.25s, box-shadow 0.25s;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0);
}

.modes .button.mode a.active::before {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
}

.modes .button.mode .basics {
  display: grid;
  grid-template-columns: var(--icon-size) 1fr;
  align-items: center;
}

.modes .button.mode .basics .icon {
  pointer-events: none;
  height: var(--icon-size);
  width: var(--icon-size);
  background-color: rgba(255, 255, 255, 0.07);
}

.modes .button.mode .basics .text {
  padding: 0 1rem;
  display: grid;
  grid-auto-flow: row;
  row-gap: 7px;
  align-items: center;
}

.modes .button.mode .basics .text > .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.modes .button.mode .basics .text > .activities-entered {
  display: none;
}

.modes .button.mode .basics .text .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  line-height: 1;
}

.modes .button.mode .basics .text .stats > div {
  display: grid;
  row-gap: 5px;
}

.modes .button.mode .basics .text .stats .name {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.modes .button.mode .basics .text .stats .value {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .modes .button.mode {
    --icon-size: 64px;
  }

  .modes .button.mode .basics .text {
    grid-template-columns: unset;
    grid-auto-flow: column;
    justify-content: space-between;
  }

  .modes .button.mode .basics .text > .activities-entered {
    display: unset;
  }

  .modes .button.mode .basics .text .stats {
    display: none;
  }
}









.modes.details {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
}

.modes.details .lifetime {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: start;
}

.modes.details .lifetime ul {
  display: grid;
  row-gap: 10px;
}

.modes.details .lifetime ul li ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.modes.details .lifetime ul li ul li {
  height: unset;
  line-height: 1.4;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modes.details .lifetime ul li ul li:first-child {
  color: rgba(255, 255, 255, 0.6);
}


















.icon.mode svg .polygon.inner {
  animation: rotate-linear 20s linear infinite;
  transform-origin: center;
}

.icon.mode svg .polygon.inner.ani {
  opacity: 0 !important;
}

/* iron banner icon */
.icon.mode svg .iron-banner-3 .circles circle {
  transform-origin: center center;
  animation: rotate-linear 30s linear infinite;
}

.icon.mode svg .iron-banner-3 .circles circle:nth-child(2) {
  animation-duration: 10s;
}

.icon.mode svg .iron-banner-3 .circles circle:nth-child(3) {
  animation-direction: reverse;
}

/* trials of osiris icon */
.icon.mode svg .trials .hexagon {
  animation: rotate-linear 20s linear infinite;
  transform-origin: center;
}

.icon.mode svg .trials .hexagon:last-child {
  animation-direction: reverse;
  animation-duration: 10s;
}

/* crimson doubles icon */
.icon.mode svg .petals {
  opacity: 1 !important;
}

.icon.mode svg .petals path {
  opacity: 0;
  transform-origin: center center;
  animation: crucible-modes-leaf-zoom 10s cubic-bezier(0.39, 0.575, 0.565, 1) 0s infinite;
  fill: #ff76b3 !important;
}

.icon.mode svg .petals path:nth-child(1) {
  animation-delay: 0.5s;
}

.icon.mode svg .petals path:nth-child(2) {
  animation-delay: 1s;
}

.icon.mode svg .petals path:nth-child(3) {
  animation-delay: 1.5s;
}

.icon.mode svg .petals path:nth-child(4) {
  animation-delay: 2s;
}

.icon.mode svg .petals path:nth-child(5) {
  animation-delay: 2.5s;
}

.icon.mode svg .petals path:nth-child(6) {
  animation-delay: 3s;
}

.icon.mode svg .petals path:nth-child(7) {
  animation-delay: 3.5s;
}

.icon.mode svg .petals path:nth-child(8) {
  animation-delay: 4s;
}

.icon.mode svg .petals path:nth-child(9) {
  animation-delay: 4.5s;
}

.icon.mode svg .petals path:nth-child(10) {
  animation-delay: 5s;
}

.icon.mode svg .petals path:nth-child(11) {
  animation-delay: 5.5s;
}

.icon.mode svg .petals path:nth-child(12) {
  animation-delay: 6s;
}

.icon.mode svg .petals path:nth-child(13) {
  animation-delay: 6.5s;
}

.icon.mode svg .petals path:nth-child(14) {
  animation-delay: 7s;
}

.icon.mode svg .petals path:nth-child(15) {
  animation-delay: 7.5s;
}

.icon.mode svg .petals path:nth-child(16) {
  animation-delay: 8s;
}

.icon.mode svg .petals path:nth-child(17) {
  animation-delay: 8.5s;
}

.icon.mode svg .petals path:nth-child(18) {
  animation-delay: 9s;
}

.icon.mode svg .petals path:nth-child(19) {
  animation-delay: 9.5s;
}

.icon.mode svg .petals path:nth-child(20) {
  animation-delay: 10s;
}

.icon.mode svg .petals path:nth-child(21) {
  animation-delay: 10.5s;
}

.icon.mode svg .petals path:nth-child(22) {
  animation-delay: 11s;
}

.icon.mode svg .petals path:nth-child(23) {
  animation-delay: 11.5s;
}

.icon.mode svg .petals path:nth-child(24) {
  animation-delay: 12s;
}

.icon.mode svg .petals path:nth-child(25) {
  animation-delay: 12.5s;
}

.icon.mode svg .petals path:nth-child(26) {
  animation-delay: 13s;
}

.icon.mode svg .petals path:nth-child(27) {
  animation-delay: 13.5s;
}

.icon.mode svg .falling-2 {
  animation-delay: 1s;
}

.icon.mode svg .falling-3 {
  animation-delay: 1.5s;
}

/* dungeon icon */
.icon.mode svg .dungeon .inner,
.icon.mode svg .dungeon .outer {
  animation: rotate-linear 90s linear infinite;
  transform-origin: center;
}

.icon.mode svg .dungeon .inner {
  animation-direction: reverse;
}

.wrapper.reduced-motion .icon.mode svg * {
  animation: unset !important;
}
